@model IEnumerable<SiteDesafioTrayCorp.Models.ProdutoViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Produtos</h1>

<p>
    <a asp-action="Create">Criar Novo produto </a>
</p>
<table class="table" id="ProdutoTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.estoque)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.value)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estoque)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.value)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new {  produtoId= item.id }) |
                @Html.ActionLink("Detalhes", "Details", new { produtoId= item.id }) |
                @Html.ActionLink("Deletar", "Delete", new { produtoId= item.id })
            </td>
        </tr>
}
    </tbody>
</table>
